* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.card-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3px 0px;
}

.user-name {
    font-size: 14px;
    font-height: 16.94px;
    font-weight: 500;
}

.user-photo {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.user-location {
    font-size: 10px;
    font-height: 12px;
    font-weight: 400;
}

.card {
    max-width: 530px;
    height: 730px;
    width: 100%;
    background-color: #FCFCFC;
    border: 1px solid rgba(222, 222, 222, 1);
    box-shadow: -1px 7px 8px -5px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.main-section {
    width: 100%;
}

.icons {
    padding: 15px 25px;
    display: flex;
    gap: 10px;
    align-items: center;
}

header {
    height: 75px;
    padding: 15px 25px 10px;
    display: flex;
    gap: 25px;
}

.icon {
    cursor: pointer;
}

.information-section {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.description, .information-section {
    width: 100%;
}

.post-text, .comment-text {
    text-align: justify;
    font-size: 12px;
    font-height: 14.52px;
}

footer {
    width: 100%;
    padding: 15px 25px;
}

input {
    width: 100%;
    background: rgba(241, 241, 241, 1);
    border-radius: 5px;
    border: none;
    height: 55px;
    padding: 15px 60px 15px 15px;
    font-size: 12px;
    font-height: 14.52px;
}

input:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: 10px;
}

.comments {
    display: grid;
    grid-gap: 5px;
    padding: 0px 5px 0px 0px;
    max-height: 105px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: gray #FAFAFA;
}

.comments::-webkit-scrollbar {
    width: 5px;
}

.comments::-webkit-scrollbar-track {
    background: #FAFAFA;
}

.comments::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
}

.comment-section {
    position: relative;
    display: flex;
}

.comment-button {
    margin-left: -50px;
    padding: 0px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #3D8AFF;
    font-weight: 700;
    font-size: 12px;
    font-height: 14.52px;
    font-weight: 700;
}

.animate_like:active {
    transform: scale(1.25);
}