body {
    width: 100%;
}

.card-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card {
    max-width: 530px;
    height: 730px;
    width: 100%;
    background-color: #FCFCFC;
    border: 1px solid rgba(222, 222, 222, 1);
    box-shadow: -1px 7px 8px -5px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.main-section {
    width: 100%;
    height: calc(100% - 55px)
}

footer {
    width: 100%;
    padding: 15px 25px;
    position: absolute;
    bottom: 10px;
}